<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Forgot Password</title>
    </head>
<body>
    <div class="container">
        <div class="card card-body">
            <div class="header">
                <h1>Forgot Password</h1>
            </div>
          <div id="details" class="details">
            <label for="">Name</label>
            <input type="text" id="name" class="form-control" required>
            <label for="">Email</label>
            <input type="email" id="email" class="form-control" required>
            <label for="">Contact</label>
            <input type="text" id="contact" class="form-control" required>
            <button id="forgotPassword" type="submit" class="mt-4" onclick="forgotPassword()">Send</button>
            <div id="msg" style="color: red;">
                <!-- for error msg -->
            </div>
          </div>
        </div>
        <br>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="../public/js/main.js"></script>

</html>