<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title> API Expence Tracker</title>
</head>
<body>
    <div class="container">
      <div id="premium">
        <h1 id="ispremium" style="display: none;" class="card card-body mt-4 ">You are an premimum user</h1>
      </div>
            <div id="msg" style="color: red; text-align: center;">
              <!-- for error msg -->
            </div>
        <button id="leaderboard" class="btn btn-outline-dark btn-lg" style="display: none;" onclick="showLeaderboard()"><i class="fas fa-money-bill"></i>Show Leaderboard</button><br>
        <div>
          <table class="table" id="leaderTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Expence</th>
              </tr>
            </thead>
            <tbody>
        </div>
        <button id="downloaadExpence" class="btn btn-outline-dark btn-lg" style="display: none;" onclick="downloadExpence()"><i class="fas fa-money-bill"></i>Download Expences</button><br>
        <button id="downloaadHistory" class="btn btn-outline-dark btn-lg" style="display: none;" onclick="downloadHistory()"><i class="fas fa-money-bill"></i>Your Downloads</button>
        <div>
          <table class="table" id="historyTable">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
        </div>
     </div>
        <button id="rzp-button1" class="btn btn-outline-dark btn-lg" style="display: none;"><i class="fas fa-money-bill"></i>Buy Premium</button>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      </div>
        <div class="card card-body mt-5">
            <div class="header">
                <h1>Expence Tracker</h1>
            </div>
          <div id="details" class="details">
            <label for="">Expence</label>
            <input type="number" id="Price" class="form-control">
            <label for="">Choose A Category</label>
            <select name="" id="Category" class="form-control">
                <option value="Movie">Movie</option>
                <option value="Food">Food</option>
                <option value="Travel">Travel</option>
                <option value="Shopping">Shoping</option>
            </select>
            <label for="">Add Description</label>
            <input type="text" id="desc" class="form-control">
            <button id="AddBtn" type="submit" class="mt-4"> Add Expence</button>
            <button id="UpdateBtn" type="submit" class="mt-4" style="display: none;"> Update Expence</button>
          </div>
        </div>
        <div class="card card-body mt-4 ">
            <table class="table" id="crudTable">
              <Label>Rows Per Page : </Label>
              <select name="" id="RowsLimit" style="margin:10px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="ALL">ALL</option>
              </select>
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Expence</th>
                    <th>Category</th>
                    <th>Desc</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    <div id="pagination">
      <!-- here button will be add for previos next page -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="../public/js/main.js"></script>
</html>