<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Forgot Password</title>
    </head>
<body>
    <div class="container">
        <div class="card card-body">
            <div class="header">
                <h1>Reset Password</h1>
            </div>
            <div class="card-body">
                <form id="resetpasswordform">
                    <div class="form-group mt-3">
                        <label for="password"><i class="fas fa-lock"></i> New Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your new password" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="confirm-password"><i class="fas fa-lock"></i> Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                            placeholder="Re-enter your new password" required>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-lg btn-primary" id="submitbtn">Reset Password</button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show mt-3 d-none" role="alert"
                        id="passwordDiv">
                        <strong>Holy guacamole!</strong> both password should be same.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert bg-success alert-dismissible fade show mt-3 d-none" role="alert" id="successDiv">
                        <strong>Holy guacamole!</strong> password successfuly reset.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script src="../public/js/main.js"></script>

</html>